* {
    margin-top: 1em;
    color: #000000;
}

::selection{
    background-color: rgba(180, 180, 180, 0.644);
}

body{
    background-color: #007acc;
    border-right: 1px dashed #333;
    border-left: 1px dashed #333;
}

.fixed{
    width: 50%;
}

h1 {
    font-size: 45px;
}

hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 3px solid rgba(0, 0, 0, 0.8);
}

footer{
    margin-bottom: 1em;
}

mark{
    background-color: lightcyan;
}

button{
    vertical-align: middle;
    text-align: center;
    margin-bottom: 50%;
    margin-top: 50%;
}


#demo{
    background-color: rgba(204, 245, 255, 0.815);
}

